.navbar {
  background-color: $colors.white;
  border-bottom: 1px solid $colors.light;
}

.navbarDivider {
  border-left: 1px solid $colors.medium;
}

.imgLogo {
  height: rem(50px);
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
