.login {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0 auto;
}

.form {
  rounded();

  background-color: $colors.white;
  border: 1px solid $colors.light;

  label {
    font-weight: $font.weight.semibold;
    font-size: $font.size.large;
  }
}

.formError {
  color: $colors.danger;
}
