.button {
  padding: rem(5px);
  background-color: $colors.blue;
  border: 1px solid $colors.darkBlue;
  border-bottom-width: 3px;
  color: $colors.white;
  text-align: center;
  height: rem(40px);
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:focus {
    background-color: $colors.darkBlue;
    border-color: $colors.dark;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    border-bottom-width: 1px;
  }

  &.block {
    width: 100%;
  }

  &.isDisabled {
    pointer-events: none;
    border-color: $colors.dark;
    background-color: $colors.medium;
    color: $colors.light;
  }
}
