$colors = {
  // Monochromatics
  black: #000,
  white: #fff,

  // Colorful
  blue: #0e59a0,
  darkBlue: #03294c,
  orange: #f90,

  // Brand Colors
  success: #393,
  danger: #c23,
  disable: #bbb,

  // Auxiliary Colors
  dark: #444,
  medium: #999,
  light: #ccc,
  lighter: #efefef,
};
