@require './colors';

$font = {
  size: {
    base: 13px,
    huge: 1.75rem,
    large: 1.25rem,
    medium: 1rem,
    small: .75rem,
  },
  weight: {
    bold: 700,
    semibold: 500,
  },
};

$font.family = Helvetica Neue, Helvetica, Arial, sans-serif;

$lineHeight = 1.4;

:global {
  // size
  .text-huge { font-size: $font.size.huge; }
  .text-large { font-size: $font.size.large; }
  .text-medium { font-size: $font.size.medium; }
  .text-small { font-size: $font.size.small; }

  // alignment
  .text-left { text-align: left; }
  .text-right { text-align: right; }
  .text-center { text-align: center; }
  .text-justify { text-align: justify; }

  // weight
  .text-bold { font-weight: $font.weight.bold; }
  .text-semibold { font-weight: $font.weight.semibold; }

  // case transform
  .text-uppercase { text-transform: uppercase; }
  .text-lowercase { text-transform: lowercase; }
  .text-captalize { text-transform: capitalize; }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: $colors.blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
